#App {
  text-align: center;
}

.link {
  color: var(--blue);
  background-color: var(--cream);
  padding: .5em;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 800;
  font-size: calc(10px + 1vmin);
  transition-duration: 300ms;
  box-sizing: border-box;
}

.section-header {
  font-size: calc(10px + 1vmin);
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) { 
  #App {
    text-align: start;
  }
  .link {
    border: .2em solid var(--cream);
    color: var(--blue);
    background-color: transparent;
  }
  .link:hover {
    font-size: calc(12px + 1vmin);
    background-color: var(--cream);
    color: var(--blue);
  }
  
  .link:focus {
    font-size: calc(8px + 1vmin);
    background-color: var(--cream);
    color: var(--blue);
  }
}
