#about {
  background-color: var(--orange);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cream);
  padding: 4em;
}


#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* Hobbies */
#cats {
  cursor:url(../../assets/cursors/orangecath.png), auto;
}

#redbull {
  cursor:url(../../assets/cursors/redbull.png), auto;
}