.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25em;
}

.icon img {
  width: 2em;
  height: auto;
}

.sm img {
  width: 1.5em;
}

.lg img {
  width: 3em;
}

.icon p {
  font-size: calc(8px + 1vmin);
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .icon {
    opacity: 40%;
    transition-duration: 300ms;
    scale: .8;
  }

  .icon img {
    width: 3em;
  }
  
  .sm img {
    width: 2em;
  }
  
  .lg img {
    width: 5em;
  }

  .icon p {
    visibility: hidden;
  }
  
  .icon:hover, .icon:hover p {
    opacity: 100%;
    scale: 1.1;
  }

  .icon:hover p {
    /* opacity: 1; */
    visibility: visible;
  }
}