.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.icon img {
  /* width: 32px; */
  width: 2em;
  height: auto;
}

.icon p {
  font-size: calc(4px + 1vmin);
  font-weight: 700;
  text-transform: uppercase;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) { 
  .icon {
    width: 5em;
    opacity: 40%;
    transition-duration: 300ms;
    scale: .8;
  }
  .icon img {
    width: 3em;
    height: auto;
  }
  .icon p {
    visibility: hidden;
  }
  
  .icon:hover, .icon:hover p {
    opacity: 100%;
    scale: 1.1;
  }

  .icon:hover p {
    /* opacity: 1; */
    visibility: visible;
  }
}