.progress-bar {
  position: fixed;
  bottom: 0; /* Move the bar to the bottom */
  left: 0;
  right: 0;
  height: 5px; /* Condense the height */
  background-color: var(--accent);
  z-index: 1000; /* Ensure it appears above most elements */
  transform-origin: left;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1); /* Adjust shadow for bottom positioning */
}

.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: var(--accent);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-transform: uppercase;
  font-weight: 800;
}
