section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
  background: var(--color1);
  color: var(--color2);
  min-height: 60vh;
}

@media only screen and (min-width: 600px) {
  section {  min-height: 80vh;  }
}

@media only screen and (min-width: 768px) {
  section {  
    min-height: 90vh;
  }
  .container-section {
    padding: 2em;
  }
}

@media only screen and (min-width: 992px) {
  section {  min-height: 100vh;  }
}

section:nth-child(2) {
  background: var(--color3);
  color: var(--color4);
  padding-top: 88px;
}

section:nth-child(3) {
  background: var(--color2);
  color: var(--color1);
}

section:nth-child(4) {
  background: var(--color4);
  color: var(--color3);
}

.container-section {
  padding: 2em 1em;
}
