#about {
  background-color: var(--cream);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  color: var(--orange);
  padding: 4em 2em;
}

#intro, #tech-stack {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

/* Hobbies */
#cats {
  cursor:url(../../assets/cursors/orangecath.png), auto;
}

#redbull {
  cursor:url(../../assets/cursors/redbull.png), auto;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) { 
  #about {
    padding: 6em 20%;
  }
}