/* Default: Extra-small devices such as small phones (less than 640px) */
#hero {
  background-color: var(--mint);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--blue);
  padding: 0 2em;
}

#hero h1 {
  margin-bottom: .5em;
}

#title {
  width: 95%;
}

.color {
  color: var(--orange);
}

#connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) { 
  #hero {
    min-height: 100vh;
    padding: 0em 8em;
  }
  #connect {
    justify-content: start;
  }
}
